html,
body {
  overflow-x: auto;
  background-attachment: fixed;
  font-size: 1.05rem;
}

body {
  font-family: "Segoe UI", Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}